<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Hotels Uk Functional test">
        <listeners>
            <listener class-name="com.qa.ExtentReportListener.ExtentReporterNG"/>
        </listeners>

    <test name="Test search and sort Hotels">
        <classes>
            <class name="com.hotels.qa.test.SearchSortAndWriteHotelResults"></class>
        </classes>
    </test>
</suite>